@model http5204_mypassion_project_n00652674.Models.ViewModels.ShowSalon

@{
    ViewBag.Title = "Details";
}

<h2>Salon Details</h2>
<div>

    @Html.ActionLink("Back to List", "List")
</div>
<hr />
<div>
    <button class="floatR brn btn-danger">@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.salon.SalonID })</button>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            @{
                //Use server rendering to determine an image
                string pic = "/Content/Salons/default.jpg";
                string alt = "No Profile Picture Provided.";
                if (Model.salon.SalonHasPic)
                {
                    pic = "/Content/Salons/" + Model.salon.SalonID + "." + Model.salon.SalonPicture;
                    alt = "Salon picture of " + Model.salon.SalonName;

                }
            }
            <div class="col-xs-4 detailsimgSize">

                <img class="detailsimgSize" src="@pic" alt="@alt" />
            </div>
            <div class="col-xs-8 info">


                <div class="itemContainer">
                    <div class="fontBold">
                        Salon Name
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.salon.SalonName)
                    </div>
                </div>
                <div class="itemContainer">
                    <div class="fontBold">
                        Email
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.salon.SalonEmail)
                    </div>
                </div>

                <div class="itemContainer">
                    <div class="fontBold">
                        Address
                    </div>
                    <div class="fontLarger">
                        <div> @Html.DisplayFor(model => model.salon.Address)</div>
                        <div> @Html.DisplayFor(model => model.salon.City)</div>
                    </div>

                </div>
                <div class="itemContainer">
                    <div class="fontBold">
                        Area
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.salon.Area)
                    </div>

                </div>

                <div class="itemContainer">
                    <div class="fontBold">
                        Phone
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.salon.Phone)
                    </div>
                </div>

                <div class="itemContainer">
                    <div class="fontBold">
                        Website
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.salon.Website)
                    </div>
                </div>

                <div class="itemContainer">
                    <button class="btn btn-default"> @Html.ActionLink("Edit", "Edit", new { id = Model.salon.SalonID })</button>
                </div>
            </div>
        </div>
       
    </div>
</div>
