@model IEnumerable<http5204_mypassion_project_n00652674.Models.SalonDto>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
   

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                //Use server rendering to determine an image
                string pic = "/Content/Salons/default.jpg";
                string alt = "No Salon Picture Provided.";
                if (item.SalonHasPic)
                {
                    pic = "/Content/Salons/" + item.SalonID + "." + item.SalonPicture;
                    alt = "Salon picture of " + item.SalonName;
                }
            }

            <img class="imgSize" src="@pic" alt="@alt" />

        </td>
        <td>
            <div>
                <span class="fontBold">
                    @Html.DisplayFor(modelItem => item.SalonName)
                </span>
            </div>
            <div>
                <span>Salon ID:</span><span class="fontBold"> @Html.DisplayFor(modelItem => item.SalonID)</span>
            </div>
        </td>
        <td>
            <div>
                <span>
                    @Html.DisplayFor(modelItem => item.SalonEmail)
                </span>
            </div>
        </td>
        <td>
            <div>
                <div class="fontBold">
                    @Html.DisplayFor(modelItem => item.Address)
                </div>
                <div class="fontBold">
                    <span> @Html.DisplayFor(modelItem => item.City)</span><span> @Html.DisplayFor(modelItem => item.Postal)</span>
                </div>
            </div>
        </td>
        <td>
            <div>
                <div class="fontBold">
                    @Html.DisplayFor(modelItem => item.Website)
                </div>
                <div class="fontBold">
                    @Html.DisplayFor(modelItem => item.Phone)
                </div>
            </div>
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SalonID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SalonID }) |
            @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.SalonID })
        </td>
    </tr>
}

</table>
