@model http5204_mypassion_project_n00652674.Models.MemberDto

@{
    ViewBag.Title = "View";
}

<h2>Delete Member</h2>

<div class="col-12">

    @Html.ActionLink("Back to List", "List")
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />



    <div class="container">

        <div class="row">
            <div class="col-xs-12">

                @{
                    //Use server rendering to determine an image
                    string pic = "/Content/Members/default.jpg";
                    string alt = "No Profile Picture Provided.";
                    if (Model.MemberHasPic)
                    {
                        pic = "/Content/Members/" + Model.MemberID + "." + Model.Picture;
                        alt = "Profile shot of " + Model.FirstName + " " + Model.LastName;

                    }
                }
                <div class="col-xs-4 detailsimgSize">

                    <img class="detailsimgSize" src="@pic" alt="@alt" />
                </div>
                <div class="col-xs-8 info">


                    <div class="itemContainer">
                        <div class="fontBold">
                            Name
                        </div>
                        <div class="fontLarger">
                            @Html.DisplayFor(model => model.FirstName)  @Html.DisplayFor(model => model.LastName)
                        </div>
                    </div>
                    <div class="itemContainer">
                        <div class="fontBold">
                            Email
                        </div>
                        <div class="fontLarger">
                            @Html.DisplayFor(model => model.Email)
                        </div>
                    </div>

                    <div class="itemContainer">
                        <div class="fontBold">
                            Title
                        </div>
                        <div class="fontLarger">
                            @Html.DisplayFor(model => model.Title)
                        </div>

                    </div>

                    <div class="itemContainer">
                        <div class="fontBold">
                            Salon ID

                        </div>
                        <div class="fontLarger">
                            @Html.DisplayFor(model => model.SalonID)

                        </div>




                        @using (Html.BeginForm("Delete", "Member", new { id = Model.MemberID }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="itemContainer marginT">
                                <input type="submit" value="Delete" class="btn btn-default" />

                            </div>
                        }


                    </div>


                </div>


            </div>
        </div>

    </div>


</div>
