@model http5204_mypassion_project_n00652674.Models.ViewModels.ShowMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.member.MemberID })</div>
    <hr />

    <dl class="dl-horizontal">
        @* <dt>
            @Html.DisplayNameFor(model => model.salon.SalonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salon.SalonName)
        </dd>
        *@

        <dt>
            @Html.DisplayNameFor(model => model.member.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.member.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.member.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.member.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member.Email)
        </dd>

        @* <dt>
            @Html.DisplayNameFor(model => model.member.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.member.Picture)
        </dd>
        *@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.member.MemberID }) |
    @Html.ActionLink("Back to List", "List")
</p>
