@model IEnumerable<http5204_mypassion_project_n00652674.Models.MemberDto>

@{
    ViewBag.Title = "View";
}

<h2>Member</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    

    @foreach (var item in Model)
    {
        
<tr>
    
    <td>
        @{
            //Use server rendering to determine an image
            string pic = "/Content/Members/default.jpg";
            string alt = "No Profile Picture Provided.";
            if (item.MemberHasPic)
            {
                pic = "/Content/Members/" + item.MemberID + "." + item.Picture;
                alt = "Profile shot of " + item.FirstName + " " + item.LastName;
            }
        }

        <img class="imgSize" src="@pic" alt="@alt" />

    </td>
    <td>
        <div>
            <span>Name:</span>
            <span class="fontBold"> @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)</span></div>
        <div>
            <span>Member ID:</span>
            <span class="fontBold">
                @Html.DisplayFor(modelItem => item.MemberID)
            </span>
        </div>
    
    <td>
        <span class="fontBold">
            @Html.DisplayFor(modelItem => item.Email)
        </span>
    </td>
    <td>
        <span class="fontBold">
            @Html.DisplayFor(modelItem => item.Title)
        </span>
    </td>
    <td>
        <span>Salon ID:</span>       
        <span class="fontBold"> @Html.DisplayFor(modelItem => item.SalonID)</span>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MemberID }) |
        @Html.ActionLink("Details", "Details", new { id = item.MemberID }) |
        @Html.ActionLink("Delete", "DeleteConfirm", new { id = item.MemberID })
    </td>
</tr>
    }

</table>
