@model IEnumerable<http5204_mypassion_project_n00652674.Models.MemberDto>

@{
    ViewBag.Title = "View";
}

<h2>Member</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
       @* <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        *@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MemberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MemberID }) |
            @Html.ActionLink("Delete", "Member", new { id=item.MemberID })
        </td>
    </tr>
}

</table>
