@model http5204_mypassion_project_n00652674.Models.HairstyleDto

@{
    ViewBag.Title = "View";
}
<h2>Delete Hairstyle</h2>

<div class="col-12">

    @Html.ActionLink("Back to List", "List")
</div>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />

    <div class="container">

        <div class="row">
            <div class="col-xs-12">

                @{
                    //Use server rendering to determine an image
                    string pic = "/Content/Hairstyles/default.jpg";
                    string alt = "No Hairstyle Picture Provided.";
                    if (Model.HairstyleHasPic)
                    {
                        pic = "/Content/Hairstyles/" + Model.HairstyleID + "." + Model.HairstylePhoto;
                        alt = "Created by " + Model.FirstName + " " + Model.LastName;

                    }
                }
                <div class="col-xs-4 detailsimgSize">

                    <img class="detailsimgSize" src="@pic" alt="@alt" />
                </div>
                <div class="col-xs-8 info">
                    <div class="itemContainer">
                        <div class="fontBold">
                            Hairstyle ID
                        </div>
                        <div class="fontLarger">
                            @Html.DisplayFor(model => model.HairstyleID)  
                        </div>
                    </div>
                   
                    <div class="itemContainer">
                        <div class="fontBold">
                            Type
                        </div>
                        <div class="fontLarger">
                            @Html.DisplayFor(model => model.Type)
                        </div>
                    </div>

                    <div class="itemContainer">
                        <div class="fontBold">
                            Details
                        </div>
                        <div class="fontLarger">
                            @Html.DisplayFor(model => model.Detail)
                        </div>

                    </div>

                    

                        @using (Html.BeginForm("Delete", "Member", new { id = Model.MemberID }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="itemContainer marginT">
                                <input type="submit" value="Delete" class="btn btn-default" />

                            </div>
                        }

                </div>
            </div>
        </div>
    </div>
</div>

