@model http5204_mypassion_project_n00652674.Models.ViewModels.ShowHairstyle

@{
    ViewBag.Title = "Details";
}

<h2>HairStyle Details</h2>
<div class="col-12">

    @Html.ActionLink("Back to List", "List")
</div>
<hr />
<div>
    <button class="floatR brn btn-danger">@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.member.MemberID })</button>

</div>
<div class="container">

    <div class="row">
        <div class="col-xs-12">



            @{
                //Use server rendering to determine an image
                string pic = "/Content/Hairstyles/default.jpg";
                string alt = "No Hairstyle Picture Provided.";
                if (Model.hairstyle.HairstyleHasPic)
                {
                    pic = "/Content/Hairstyles/" + Model.hairstyle.HairstyleID + "." + Model.hairstyle.HairstylePhoto;
                    alt = "Hairstyle photo by " + Model.member.FirstName + " " + Model.member.LastName;

                }
            }
            <div class="col-xs-4 detailsimgSize">

                <img class="detailsimgSize" src="@pic" alt="@alt" />
            </div>

            <div class="col-xs-8 info">
                <div class="itemContainer">
                    <div class="fontBold">
                        @Html.DisplayNameFor(model => model.member.MemberID)
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.member.MemberID)
                    </div>
                </div>
                <div class="itemContainer">
                    <div class="fontBold">
                        Name
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.member.FirstName)   @Html.DisplayFor(model => model.member.LastName)
                    </div>
                </div>

                <div class="itemContainer">
                    <div class="fontBold">
                        @Html.DisplayNameFor(model => model.hairstyle.Type)
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.hairstyle.Type)
                    </div>
                </div>
                <div class="itemContainer">
                    <div class="fontBold">
                        @Html.DisplayNameFor(model => model.hairstyle.Detail)
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.hairstyle.Detail)
                    </div>
                </div>
                <div class="itemContainer">
                    <div class="fontBold">
                        @Html.DisplayNameFor(model => model.hairstyle.DateUpload)
                    </div>
                    <div class="fontLarger">
                        @Html.DisplayFor(model => model.hairstyle.DateUpload)
                    </div>
                </div>

                <div class="itemContainer">
                    <button class="btn btn-default"> @Html.ActionLink("Edit", "Edit", new { id = Model.hairstyle.HairstyleID })</button>
                </div>

            </div>
        </div>
      
        
    </div>
</div>
